$b-10: 10px;

.base-panel,
.base-card,
.product-block__btn{
	border-radius: $b-10 !important;
}


.product-block__price-wrap{
	flex-direction: column;
    align-items: flex-start !important;
}

.product-block__price-wrap .product-block__old-price{
	margin-left: 0px !important;
}

.service-block__price-wrap{
	flex-direction: column;
    align-items: flex-start !important;
}

.service-block__price-wrap .service-block__old-price{
	margin-left: 0px !important;
}

.switch-toggle.alert .btn{
	border-radius: 8px;
}