%img-bject-fit {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
%img-bject-fit_cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

%display-flex {
	display: flex;
}
%display-flex_all-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

%flex_between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
%margin-padding_none{
	margin: 0;
	padding: 0;
}
%font_family-weight{
	font-family: $font-family-sans-serif;
	font-style: normal;
	font-weight: normal;
}

%border{
	border:1px solid $main-grey_color;
	border-radius: $border-radius-default;
}
%line-top{
border-top:1px solid $main-grey_color;
}

%box-shadow{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
