.input-icon {
	display: flex;
	border: 1px solid $gray;
	border-radius: $border-radius;
	padding: 4.5px 10px;
	& > div	{
		width: 40px;
		text-align: right;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	& > input {
		border: 0;
	    font-size: 0.825rem;
		width: calc(100% - 40px);
	}
	&.textarea {
		padding: 0.5rem 10px;
		.btn {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	& > textarea {
		border: 0;
	    font-size: 0.825rem;
		width: calc(100% - 40px);
    	line-height: 1.5rem;
    	height: 1.5rem;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
