// Body

@font-face {
	font-family: "Arial-for";
	src:url("/fonts/Arial/arialmt.ttf");
	src:url("/fonts/Arial/arialmt.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto-Regular";
	src:url("/fonts/Roboto/Roboto-Regular.ttf");
	src:url("/fonts/Roboto/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

$body-bg: #f8fafc;

*{
	font-family: "Roboto-Regular", sans-serif;
}
// Custom
$font-family-sans-serif: Arial, Helvetica, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$border-radius-default: 10px;
$border-radius-default-arraw: 50%;

$header-bg_color: #333333;
$header-text_color: #BBBBBC;
$main-grey_color: #EBEBEB;
$main-purple_color: #996699;
$main-purple_color_rgba: rgba(153, 102, 153, 0.1);

$pb: 32px;
$pm: 16px;
$ps: 8px;
$wi12: 1208px;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
$p16: 16px;
$p32: 32px;
$p12: 12px;
$border: 1px solid #EBEBEB;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$text-grey: #BBBBBC;
$online-user: #33CC00;
$offline-user: #DD3F3C;
$gray: #EBEBEB;
$dark-gray: #333333;
$medium-gray: #666666;
$red: #D80808;
$green: #33CC00;
$main: #EBEBEB;
$success: #33CC00;
$danger: #D80808;
