.slider_brand {
    position: relative;

    .owl-theme {
        .owl-nav {
            [class*='owl-'] {
                position: absolute;
                top: 100px;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff !important;
                box-sizing: border-box;
                border-radius: $border-radius-default;
                border: 1px solid #EBEBEB !important;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

                &.owl-next {
                    right: 16px;

                    .svg {
                        width: 24px;
                        height: 24px;

                        path {
                            fill: #333333;
                        }
                    }
                }

                &.owl-prev {
                    left: 16px;

                    .svg {
                        width: 24px;
                        height: 24px;

                        path {
                            fill: #333333;
                        }
                    }
                }
            }
        }

        .owl-dots {
            display: none;
        }
    }
}

.taskStatus {
    font-size: 14px;
    font-weight: bold;
    font-family: $font-family-sans-serif;
    margin-bottom: 16px;
    float: right;

    span {
        color: $main-purple_color;
    }
}

.no-gutter.container,
.no-gutter.container-fluid,
.no-gutter.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.bg-969 {
    background-color: $main-purple_color;
}

.clr-969 {
    color: $main-purple_color;
}

.task_creating {
    padding-bottom: 32px;
}

.taskCreatingContent {
    background: #FFFFFF;
    border-radius: $border-radius-default;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: $shadow;

    .title_task {
        margin-bottom: 16px;
    }

    .task_slider {
        padding-top: 16px;
    }

    .taskCreatingContent-btns {
        // margin-bottom: 32px;
        .nav {
            display: flex;
            flex-wrap: wrap;
            margin-right: -8px;
            margin-left: -8px;

            li {
                margin-top: 16px;
                width: 20%;
                padding: 0 8px;

                .btn {
                    border: 1px solid #EBEBEB;
                    box-sizing: border-box;
                    border-radius: $border-radius-default;
                    display: flex;
                    width: 100%;
                    height: 40px;
                    padding: 16px;
                    align-items: center;

                    &:hover {
                        background-color: #EBEBEB;
                    }

                    h1 {
                        font-family: $font-family-sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: #000000;
                    }

                    .svg {
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;

                        path {
                            fill: #000000;
                        }
                    }

                    &.active {
                        background: #333333;
                        border-color: #333333;
                        border-radius: $border-radius-default;

                        h1 {
                            font-family: $font-family-sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;
                            color: #FFFFFF;
                        }

                        .svg {
                            margin-right: 8px;
                            width: 24px;
                            height: 24px;

                            path {
                                fill: #fff;
                            }
                        }
                    }
                }

                .catagory-selected_btn {
                    padding: 8px 16px;
                    align-items: center;
                    height: 100%;

                    span {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: initial;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    .task-tab_btns-wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;

        .btn-wrap {
            padding: 0 8px;
            width: 20%;

            .btn-category {
                height: 40px;
                padding: 16px;
                display: flex;
                align-items: center;
                font-family: $font-family-sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 16px;
                width: 100%;
                color: #000000;
                transition: all 0.3s linear;

                .svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;

                    path {
                        fill: #000000;
                    }
                }

                &.active {
                    background: #EBEBEB;
                    border-radius: $border-radius-default;
                }

                &:hover {
                    background: #EBEBEB;
                    border-radius: $border-radius-default;
                }
            }
        }
    }
}

.title_task {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    margin-bottom: 32px;
}

.progress_bar-wrap {
    .titles-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        .text {
            margin: 0 0 0 auto;
        }

        .back_link {
            font-size: 14px;
            line-height: 16px;
            padding: 0;

            &:hover {
                color: #000;

                .svg {
                    path {
                        fill: #000;
                    }
                }
            }
        }
    }
}

.title_task-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .btn {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }

    .title_task {
        margin-bottom: 0;
    }
}

.title_task-wrap {
    .btn {
        &.delete {
            color: #BBBBBC;
            padding: 0;
            height: 16px;

            &:hover {
                color: #000000;
            }
        }
    }
}

.owl-item {
    .item {
        .price {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 16px;
        }
    }
}

.task_creating-goods-card-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: -8px;
    margin-right: -8px;
    align-items: center;

    .wrap {
        padding: 0 8px;
        width: 20%;
        margin-bottom: 16px;

        .price {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 16px;
        }

        .task_creating-goods-card {
            border: 1px solid #EBEBEB;
            box-sizing: border-box;
            border-radius: $border-radius-default;
            padding: 16px;
            transition: all 0.3s linear;

            .img {
                border: 1px solid #EBEBEB;
                box-sizing: border-box;
                border-radius: $border-radius-default;
                width: 100%;
                height: 190px;
                margin-bottom: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .footer {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .sum {
                    font-family: $font-family-sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 14px;
                    color: #000000;
                }

                .close {
                    background-color: transparent;
                    border: none;
                    width: 18px;
                    height: 18px;
                    opacity: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        .svg {
                            path {
                                fill: #000;
                            }
                        }
                    }

                    .svg {
                        height: 100%;
                        width: 100%;

                        path {
                            fill: #BBBBBC;
                        }
                    }
                }
            }

            .title {
                font-family: $font-family-sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                display: block;
                cursor: pointer;
                margin-bottom: 8px;
            }

            .star {
                margin-bottom: 16px;
                display: flex;
                align-items: center;

                .commit {
                    font-family: $font-family-sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 8px;
                    color: #BBBBBC;
                    padding-top: 4px;
                }
            }

            .nav {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .checbox-wrap {
                    margin-right: 2px;

                    .custom-control {
                        transform: scale(1.5);
                    }
                }
            }

            &:hover {}
        }
    }
}

.taskCreatingContent {
    .delivery_goods_сongratulations {
        .order-task_lists {
            padding-bottom: 0;

            .row {
                margin: 0 -8px;
            }
        }
    }

    .delivery_goods_choose_product {
        .task_creat-add_goods {
            margin-top: 32px;

            .button_additional {
                padding: 0;
                margin-bottom: 32px;
                border: none;

                p {
                    line-height: 16px;
                }
            }
        }
    }

    .delivery_goods_form {
        .form-groups-wrap {}

        .delivery_goods_authorization {
            .btns-pay_preview-wrap {
                margin-bottom: 32px;
            }
        }
    }

    .task-message_text {
        margin-bottom: 32px;

        .title {
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            margin-bottom: 32px;
        }

        .text {
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            margin-bottom: 16px;
        }

        .message {
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
        }
    }
}

.task_checbox-wrap {
    display: flex;
    margin-bottom: 32px;
    align-items: center;

    .text {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-left: 16px;
    }
}

.form-group {
    p {
        border: none;
        color: #000;
        border-radius: 0;
        padding-left: 0;
        outline: none;
        font-size: 15px;
        line-height: 16px;
        padding: 0 0 8px;
        border-bottom: 1px solid #EBEBEB;
    }

    .footer-text {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #BBBBBC;
        padding-top: 16px;
    }
}

.registration_check {
    margin-top: 32px;

    .text {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-bottom: 16px;
    }

    .purple_link {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: $main-purple_color;
        cursor: pointer;
    }

    .link {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        cursor: pointer;
    }
}

.form-groups-wrap {
    .phone_icon {
        input {
            background: url("/phone_icon.svg") no-repeat 0 6px;
            padding-left: 25px !important;

            &::placeholder {
                font-size: 14px !important;
            }
        }
    }

    .password_icon {
        input {
            background: url("/lock_icon.svg") no-repeat 0 6px;
            padding-left: 25px !important;

            &::placeholder {
                font-size: 14px !important;
            }
        }
    }

    .user_icon {
        input {
            background: url("/user_icon.svg") no-repeat 0 6px;
            padding-left: 25px !important;

            &::placeholder {
                font-size: 14px !important;
            }
        }
    }

    .email_icon {
        input {
            background: url("/mail_icon.svg") no-repeat 0 6px;
            padding-left: 25px !important;

            &::placeholder {
                font-size: 14px !important;
            }
        }
    }

    .message_icon {
        input {
            background: url("/intercom_icon.svg") no-repeat 0 6px;
            padding-left: 25px !important;

            &::placeholder {
                font-size: 14px !important;
            }
        }
    }
}

.task_success {
    background: url("/check_form.svg") no-repeat center center;
}

.btn-category {
    cursor: pointer;
}

.mb-none {
    margin-bottom: 0;
}

.task_creat-terms {
    margin-bottom: 16px;

    .purpule_link {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: $main-purple_color;
    }
}

.select_group-wrap {
    display: flex;

    .select-wrap {
        width: 100%;
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.mb-32 {
    margin-bottom: 32px;
}

.form-checbox_groups {
    border-bottom: 1px solid #EBEBEB;
    padding-top: 16px;

    .title {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        margin: 0 0 16px;
    }

    .custom-controls-stacked {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .title {
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            margin-left: 16px;
            margin-bottom: 0;
        }
    }
}

.input_group-wrap {
    display: flex;
    align-items: center;

    input {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.map_nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    .info {
        .title {
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            margin-bottom: 8px;
        }

        .find {
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
        }
    }

    .btns {
        display: flex;

        .btn {
            border: 1px solid #EBEBEB;
            box-sizing: border-box;
            padding: 12px 0;
            width: 98px;
            text-align: center;
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            border-radius: 0;
            line-height: 16px;
            color: #000000;

            &.active {
                background: #EBEBEB;
            }

            &:first-child {
                border-radius: 5px 0 0 5px;
            }

            &:last-child {
                border-radius: 0 5px 5px 0;
            }
        }
    }
}

.catagory-selected_btn {
    &.image-none {
        span {
            margin-left: 24px;
        }
    }
}

.map_order-wrapper {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}
// scrollbar

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {}

.task_slider {
    // .swiper-button-next{
    //     background:url(/next_arr-black.svg) no-repeat #fff center;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     width: 32px;
    //     height: 32px;
    //     box-sizing: border-box;
    //     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    //     border-radius: $border-radius-default;
    // }
    //    .swiper-button-prev{
    //     background:url(/prev_arr-black.svg) no-repeat #fff center;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     width: 32px;
    //     height: 32px;
    //     box-sizing: border-box;
    //     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    //     border-radius: $border-radius-default;
    // }
    .swiper-scrollbar {
        position: inherit;
        margin-top: 16px;
        height: 1px;
        background: #EBEBEB;

        .swiper-scrollbar-drag {
            background: $main-purple_color;
            border-radius: 3px;
            height: 5px;
            top: -2px;
        }
    }

    .item {
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: $border-radius-default;
        padding: 16px;
        transition: all 0.3s linear;

        &:hover {
            .img {
                img {
                    -webkit-transform: scale(1.08);
                    transform: scale(1.08);
                    -webkit-transition: -webkit-transform 0.3s ease-in-out;
                    transition: -webkit-transform 0.3s ease-in-out;
                    transition: transform 0.3s ease-in-out;
                    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
                }
            }
        }

        .img {
            border: 1px solid #EBEBEB;
            box-sizing: border-box;
            border-radius: $border-radius-default;
            width: 100%;
            display: block;
            height: 190px;
            margin-bottom: 16px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                -webkit-transition: -webkit-transform 0.15s ease-in-out;
                transition: -webkit-transform 0.15s ease-in-out;
                transition: transform 0.15s ease-in-out;
                transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
            }
        }

        .title {
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            display: block;
            cursor: pointer;
            margin-bottom: 8px;

            &:hover {
                color: $main-purple_color;
            }
        }

        .star {
            margin-bottom: 16px;
            display: flex;
            align-items: center;

            .commit {
                font-family: $font-family-sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 8px;
                color: #BBBBBC;
                padding-top: 4px;
            }
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .sum {
                font-family: $font-family-sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                color: #000000;
            }

            .close {
                background-color: transparent;
                border: none;
                width: 18px;
                height: 18px;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    .svg {
                        path {
                            fill: #000;
                        }
                    }
                }

                .svg {
                    height: 100%;
                    width: 100%;

                    path {
                        fill: #BBBBBC;
                    }
                }
            }
        }
        // &:hover{
        //     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        // }
    }
}

.swiper-button-disabled {
    display: none;
}

.delivery_goods-hidden {
    height: 0;

    .task_slider {
        height: 0;
    }

    .taskCreatingContent-btns {
        display: none;
    }

    .title_task-wrap {
        display: none;
    }

    form {
        display: none;
    }

    .btns-pay_preview-wrap {
        display: none;
    }
}

.delivery_goods_choose_product-hide {
    height: 0;

    .task_slider {
        height: 0;
    }

    .taskCreatingContent-btns {
        display: none;
    }

    .title_task-wrap {
        display: none;
    }

    .navs_account {
        display: none;
    }

    .task_creating-goods-card-wrap {
        display: none;
    }

    .pagination_main {
        display: none;
    }
}

.sliders-task_wrap-hidden {
    height: 0;

    .title_task-wrap {
        display: none;
    }

    .task_slider {
        height: 0;
    }
}

.delivery_goods_authorization {
    .task_creating-delivery_goods {
        .form-groups-wrap {
            margin-bottom: 16px;

            .col-md-6 {
                &:first-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.group_purchas_choose_product {
    .task_creating-goods-card-wrap .wrap .task_creating-goods-card .star {
        margin-bottom: 0;
    }
}

.search-performer_warehousing-services {
    .map_order {
        margin-top: 0 !important;
    }
}

.taskCreatingContent .task-tab_btns-wrap {
    padding-top: 16px;
    margin-bottom: -16px;
}

.delivery_goods_choose_product {
    .navs_account {
        margin-bottom: 16px;
    }
}

.taskCreatingContent {
    .delivery_goods_choose_product {
        .task_slider {
            .item {}
        }

        .title_task-wrap {
            .delete {
                color: #BBBBBC;

                &:hover {
                    color: #000;
                }
            }
        }

        .pagination-catalog-wrap {
            margin-bottom: 0;
        }
    }
}

.taskCreatingContent {
    .form-groups-wrap {
        .form-group {
            // padding-top: 16px;
            margin-bottom: 16px;
        }
    }

    .form-groups-files {
        .title {
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            margin-bottom: 16px;
        }

        label {
            color: #BBBBBC;
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;

            .svg {
                margin-right: $pm;
                width: 16px;
                height: 16px;

                path {
                    fill: #BBBBBC;
                }
            }
        }
        padding-top: 8px;
        padding-bottom: 16px;
    }

    .form-group-order {
        .title_label {
            font-size: 18px;
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: bold;
            line-height: 16px;
            margin: 0;
        }
    }
}

.taskCreatingContent {
    .order-task_li {
        margin-bottom: 32px;

        h1 {
            font-size: 18px;
            margin: 0 0 16px;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.taskCreatingContent {
    .group_purchas_choose_product {
        .navs_account {
            margin-bottom: 16px;
        }

        .pagination-catalog-wrap {
            margin-bottom: 0;
        }
    }
}

.task_creating-goods-card-wrap {
    .task_creating-goods-card {
        .img {
            overflow: hidden;

            img {
                webkit-transition: -webkit-transform 0.15s ease-in-out;
                transition: -webkit-transform 0.15s ease-in-out;
                transition: transform 0.15s ease-in-out;
                transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
            }
        }

        .title {
            &:hover {
                color: $main-purple_color;
            }
        }

        &:hover {
            .img {
                img {
                    -webkit-transform: scale(1.08);
                    transform: scale(1.08);
                    -webkit-transition: -webkit-transform 0.3s ease-in-out;
                    transition: -webkit-transform 0.3s ease-in-out;
                    transition: transform 0.3s ease-in-out;
                    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
                }
            }
        }
    }
}

.group_purchas_choose_product-inner {
    .task_creating-goods-card-wrap {
        .wrap {
            margin-bottom: 32px;
        }
    }
}

.form-group-order textarea {
    height: auto;
    min-height: 70px;
    padding-bottom: 8px;
}

.search-performer_courier-services {
    .button_additional {
        margin-bottom: 32px;
    }
}

.search-performer_cargo-transportation {
    .button_additional {
        margin-bottom: 32px;
    }
}

.taskCreatingContent-btns {
    .catagory-selected_btn {
        .svg {
            width: 27.90px;
        }

        .close-catagory-selected {
            margin-left: 14px;
        }
    }
}

.task_slider {
    .delivery_goods-slider {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
    }
}

.task_slider {
    .delivery_goods-slider {
        .owl-stage {
            .owl-item {
                border-right: 1px solid transparent;
            }
        }
    }
}

.task_creating-goods-card-wrap .wrap .btn_box {
    background: #fff;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: $border-radius-default;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: #333333;
        border-color: #333333;
    }

    &.active {
        color: #fff;
        background-color: #333333;
        border-color: #333333;
    }
}

.task_creating-goods-card-wrap .wrap .task_creating-goods-card .footer .sum {
    .counter-select {
        height: 24px;
    }
}

.task_creating-goods-card-wrap .wrap .task_creating-goods-card .img {
    overflow: hidden;
    padding-top: calc(100% - 2px);
    margin-bottom: 16px;
    position: relative;
    height: inherit;

    img {
        position: absolute;
        top: 0;
    }
}

.task_creating-goods-card-wrap .wrap .task_creating-goods-card .star .commit b {
    font-weight: normal;
}

.task_slider .item .star .commit b {
    font-weight: normal;
}

.task_slider .item .img {
    overflow: hidden;
    padding-top: calc(100% - 2px);
    margin-bottom: 16px;
    position: relative;
    height: inherit;

    img {
        position: absolute;
        top: 0;
    }
}
// mobile
@media (min-width: 300px) and (max-width: 1023px) {
    // back btn
    // .progress_bar-wrap .titles-wrap .back_link {
    //     position: absolute;
    //     top: 16px;
    //     left: 16px;
    // }
    .task_creating {
        padding-top: 32px;
    }
    // end
    .task_creating {
        padding-top: 32px;

        .breadcrumbs-wrap {
            display: none;
        }
    }

    .taskCreatingContent .taskCreatingContent-btns .nav {
        flex-direction: column;

        li {
            width: 80%;
            margin: 0 auto 8px;
        }
    }

    .taskCreatingContent .task-tab_btns-wrap {
        margin-left: -16px;
        margin-right: -16px;

        .btn-wrap {
            padding: 0;
            width: 100%;
            border-bottom: 1px solid #EBEBEB;

            &:last-child {
                border-bottom: none;
            }

            .btn-category {
                margin-bottom: inherit;
                height: inherit;
            }
        }
    }

    .task_creating-goods-card-wrap .wrap {
        width: 50%;
    }

    .task_creating-goods-card-wrap .wrap .task_creating-goods-card .star .commit b {
        display: none;
    }

    .task_creating-goods-card-wrap .wrap .task_creating-goods-card .star .commit:after {
        content: ")";
    }

    .task_creating-goods-card-wrap .wrap .task_creating-goods-card .star .commit:before {
        content: "(";
    }

    .task_slider .item .star .commit b {
        display: none;
    }

    .task_slider .item .star .commit:after {
        content: ")";
    }

    .task_slider .item .star .commit:before {
        content: "(";
    }

    .delivery_goods_choose_product {
        .btns-pay_preview-wrap {
            justify-content: center;

            .btn-purple {
                min-width: 70%;
            }
        }
    }

    .page-title.main-title {
        font-size: 16px;
    }

    .delivery_goods_сongratulations {
        .order-task_lists.task_creating {
            padding-top: 0;
        }

        .btns-pay_preview-wrap {
            flex-direction: column;
            align-items: center;

            .btn-purple {
                min-width: 70%;
                margin-bottom: 8px;
                font-size: 16px;
                line-height: 18px;
            }

            .btn-preview {
                min-width: 70%;
                font-size: 16px;
                line-height: 18px;
            }
        }
    }

    .task_creating {
        .slider_brand .owl-nav button {
            top: 70px;
        }
    }

    .delivery_goods_form {
        .form-groups-wrap {
            .col-md-6.pgr-not {
                padding-right: 15px;
            }
        }

        .btns-pay_preview-wrap {
            justify-content: center;

            .btn-purple {
                min-width: 70%;
            }
        }
    }

    .group_purchas_choose_product-inner {
        .btns-pay_preview-wrap {
            justify-content: center;

            .btn-purple {
                min-width: 70%;
            }
        }
    }

    .task_creating-group_purchase {
        .btns-pay_preview-wrap {
            justify-content: center;

            .btn-purple {
                min-width: 70%;
            }
        }

        .form-groups-wrap {
            .col-md-6.pgr-not {
                padding-right: 15px;
            }
        }

        .form-group-order textarea {
            min-height: 160px;
        }
    }

    .search-performer_cargo-transportation {
        .input_group-wrap {
            flex-direction: column;
        }

        .input_group-wrap input {
            margin: 0 0 8px;
        }
    }

    .search-performer_courier-services {
        .input_group-wrap {
            flex-direction: column;
        }

        .input_group-wrap input {
            margin: 0 0 8px;
        }
    }

    .search-performer_warehousing-services {
        .select_group-wrap {
            flex-direction: column;

            .select-wrap {
                margin-bottom: 8px;
            }
        }

        .map_order {
            margin-bottom: 32px;
        }

        .map_nav {
            display: none;
        }
    }

    .task_creating {
        &.padding-top-mobile {
            padding-top: 48px;
        }
    }
}

.counter-select.task {
    .count-product {
        width: 100%;
        min-height: 24px;
    }

    .minus-product, .plus-product {
        min-width: 24px;
        min-height: 24px;
        padding-top: 3px;
        padding-bottom: initial;
    }
}

.task_creating{
    padding-top: 16px;
}



.task-message_text.task-border-info{
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 0px;
   .text
    {
        margin-bottom: 0px;
    }
}


.task-creation__btn {
    width: 100%;
    height: 40px;
    background: #EBEBEB;
    border-radius: 5px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    padding: 4px 4px 4px 16px;
    text-align: left;
    display: flex;
    align-items: center;
        background: #fff;
    border: 1px solid #EBEBEB;
}



.task-creation__icon {
    margin-right: 8px;
}

.task-creation__grid {
    gap: 8px;
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 16px;
}

.task-creation__categories.taskCreatingContent{
    margin-bottom: 16px;
    .section-title-2{
        margin-bottom: 32px;
    }
    .task-creation__grid{
        margin-bottom: 32px;
    }
}
